//Custom variables

//color variables

$dark-blue: #1e3066;
$light-green: #3fae49;
$chevron-grey: #b4bacc;
$grey-bg: #f5f5f5;
$h4-grey: #808080;
$dark-text: #333333;
$rewards-numbers: #999999;

// Font stacks Mobile

$mh1-size: 38px;
$ml1-height: 38px;

$mh2-size: 32px;
$ml2-height: 38px;

$mh3-size: 24px;
$ml3-height: 28px;

$mh4-size: 15px;
$ml4-height: 20px;

$mh5-size: 15px;
$ml5-height: 16px;

$mp-size: 14px;
$mlp-height: 22px;

$mbutton-size: 15px;
$mlbutton-height: 18px;


// Font stacks desktop


$h1-size: 64px;
$l1-height: 64px;

$h2-size: 48px;
$l2-height: 56px;

$h3-size: 32px;
$l3-height: 38px;

$h4-size: 18px;
$l4-height: 20px;

$h5-size: 16px;
$l5-height: 18px;

$p-size: 15px;
$lp-height: 24px;

$button-size: 16px;
$lbutton-height: 19px;